@charset "ISO-8859-1";

body {
	margin: 0;
	background-color: #F0F5FB;
	/*creamos cuadricula*/
	display: grid;
	grid-template-columns: 200px auto 200px;
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
}

div {
	grid-area: 2/2/3/3;
	/*neumorfismo*/
	border-radius: 50px;
	background: #F0F5FB;
	box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
	/*estilo*/
	font-family: 'Tauri', sans-serif;
}

table{
	margin:10px;
	border-radius: 50px;
	background-color:grey;
}

td{
	border-right:1px solid black;
}

tr:hover {
	border-radius: 50px;
	background: #F0F5FB;
	box-shadow: inset 20px 20px 60px #ccd0d5, inset -20px -20px 60px #ffffff;
}