@charset "ISO-8859-1";

body {
  margin: 0;
  background-color: #f0f5fb;
  height: 100vh;
  /*creamos cuadricula*/
  display: grid;
  grid-template-columns: 200px 1fr 1fr 200px;
  grid-template-rows: 100px 1fr 400px;
  /*espacio entre filas para evitar las sombras*/
	row-gap: 70px;
	column-gap: 30px;
}

header {
  grid-row: 1/2;
  grid-column: 2/4;
  /*neumorphism*/
  background: #f0f5fb;
  border-radius: 20px;
  box-shadow: 20px 20px 25px #d2d1d1, -20px -20px 25px #ffffff;
  /*colocamos el titular en el centro de la caja*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header > h1 {
  margin: 0;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 3em;
}

.formulario{
  /*creamos un tamaño cuadrado*/
  height: 350px;
  width: 350px;
  /*neumorfismo*/
  border-radius: 50px;
  background: #f0f5fb;
  box-shadow: 35px 35px 70px #d2d1d1, -35px -35px 70px #ffffff;
  /*colocamos el formulario al centro*/
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  justify-self: center;
  /*estilos*/
	font-family: "Comic Neue", cursive;
	color: #7A818B;
}

.formulario--crear{
  grid-row: 2/3;
  grid-column: 2/3;
}

.formulario--actualizar {
	grid-row: 2/3;
	grid-column: 3/4;
}

.formulario__titulo {
  margin: 0;
	text-align: center;
  color: black;
  font-family: 'Bungee Shade', cursive;
}

.formulario__boton{
  cursor: pointer;
  display: block;
  /*lo colocamos fuera del formulario*/
  position: relative;
  bottom: -10px;
/*tamaños*/
  border:none;
  height: 40px;
  width: 60px;
  /*neumorfismo*/
  border-radius: 50px;
  background: #f0f5fb;
  box-shadow: 4px 4px 8px #d2d1d1, -4px -4px 8px #ffffff;
  color:crimson;
  /*icono del boton*/
  background-image: url("./next.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}
.formulario__boton:hover{
  box-shadow:inset 4px 4px 8px #d2d1d1,inset -4px -4px 8px #ffffff;

}

form {
  /*tamaño del formulario*/
  flex-basis: 200px;
  /*colocamos el usuario y contraseña*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

form > label {
  flex-basis: 100px;
  height: 20px;
  font-size: 1.1em;
  text-align: center;
}

form > input {
  flex-basis: 200px;
  height: 20px;
  padding: 0;
  border-radius: 3px;
  border: 1px solid #bbbbbb;
}

.proveedores {
  grid-row: 3/4;
  grid-column: 2/4;
  /*estilo*/
  font-family: "Comic Neue", cursive;
  /*alineamos al centro la tabla*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.proveedores__tabla {
  border-radius: 20px;
  /*quitamos bordes*/
  overflow: hidden;
  border-collapse: collapse;
  /*que toda la tabla rellene el espacio de la caja*/
  width: 100%;
	height: 100%;
  /*columnas de tamaño fijo*/
  table-layout: fixed;
  text-align: center;
}

/*encabezado de tabla*/
tr:nth-child(1) {
  background-color: #7ac0ff;
	font-weight: bold;
	color:black;
}

/*al pasar por encima con el raton cambia la tabbla menos 
la primera fila*/
tr:not(:first-child):hover {
  background: #7A818B;
}

@media(max-width:1200px){
  body{
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 100px 1fr 1fr 400px;
  }

  header{
    grid-column: 2/3;
  }

  .proveedores{
    grid-row: 4/5;
    grid-column: 2/3;
  }

  .formulario--crear{
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .formulario--actualizar{
    grid-row: 3/4;
    grid-column: 2/3;
  }
}
