<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="/css/registro.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Tauri&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="formulario">
    <!-- al usar th:field=*{valor} es necesario especificar el nombre del getter y setter no del atributo -->
      <form th:object="${usuarioNuevo}" th:action="@{/crearUsuario}" method="POST">
        <label for="usuario">Usuario</label>
        <input th:field="*{usuario}" type="text" id="usuario" />
        <label for="contraseña">Contraseña</label>
        <input th:field="*{contraseña}" type="password" id="contraseña" />
        <svg viewBox="0 0 492 492" >
          <path
            d="M382.7 226.8L163.7 7.9C158.7 2.8 151.9 0 144.7 0s-14 2.8-19 7.9l-16.1 16.1c-10.5 10.5-10.5 27.6 0 38.1L293.4 245.9l-184.1 184.1c-5.1 5.1-7.9 11.8-7.9 19 0 7.2 2.8 14 7.9 19l16.1 16.1c5.1 5.1 11.8 7.9 19 7.9s14-2.8 19-7.9L382.7 265c5.1-5.1 7.9-11.9 7.8-19.1C390.5 238.7 387.8 231.9 382.7 226.8z"
          />
        </svg>
      </form>
    </div>
  </body>
  <script src="/js/registro.js"></script>
</html>
